.btn-marketing-wrapper {
  position: relative;
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 34px;
}
.btn-marketing-wrapper.upper {
  margin-top: calc(var(--banner-top-offset) + 42px);
  gap: 34px;
}
.btn-marketing-wrapper.lower {
  margin-top: 40px;
  gap: 102px;
}

.btn-marketing {
  position: relative;
  margin: 0 auto;
  width: 162px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  color: transparent;
}

.btn-marketing.advertise {
  background-image: url(/assets/button/advertise.webp);
}
.btn-marketing.advertise:hover {
  background-image: url(/assets/button/advertise_h.webp);
}
.btn-marketing.seo {
  background-image: url(/assets/button/seo.webp);
}
.btn-marketing.seo:hover {
  background-image: url(/assets/button/seo_h.webp);
}
.btn-marketing.social-media {
  background-image: url(/assets/button/socialMedia.webp);
}
.btn-marketing.social-media:hover {
  background-image: url(/assets/button/socialMedia_h.webp);
}
.btn-marketing.cis {
  background-image: url(/assets/button/cis.webp);
}
.btn-marketing.cis:hover {
  background-image: url(/assets/button/cis_h.webp);
}
.btn-marketing.brand {
  background-image: url(/assets/button/brand.webp);
}
.btn-marketing.brand:hover {
  background-image: url(/assets/button/brand_h.webp);
}

.btn-marketing.back-home {
  background-image: url(/assets/button/backHome.webp);
}
.btn-marketing.back-home:hover {
  background-image: url(/assets/button/backHome_h.webp);
}
.btn-marketing.see-more {
  background-image: url(/assets/button/seeMore.webp);
}
.btn-marketing.see-more:hover {
  background-image: url(/assets/button/seeMore_h.webp);
}
